<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://sse.uni-hildesheim.de/instrumentation" exclusive="true">
	<namespace name="mooBench.monitoredApplication">
		<module name="MonitoredClassThreaded">
			<behavior signature="monitoredMethod(long,int)">
				<monitor id="monitoredMethod" />
				<Timer id="monitoredMethodTimer" state="START_FINISH" affectAt="DEFAULT" considerThreads="false" />
			</behavior>
		</module>
		<module name="MonitoredClassSimple">
			<behavior signature="monitoredMethod(long,int)">
				<monitor id="monitoredMethod" />
			</behavior>
		</module>
	</namespace>
</configuration>
