
# Ignore Gradle project-specific cache directory
**/.gradle/**

.classpath
.settings
**/.classpath
**/.project
**/.settings/**
**/build/**
**/bin/**
frameworks/Kieker/scripts/benchmark/
frameworks/Kieker/scripts/data/
frameworks/Kieker/scripts/kieker-*-aspectj.jar
frameworks/Kieker/scripts/receiver/
frameworks/Kieker/scripts/results-kieker/
frameworks/SPASSmeter/spassmeter.log
frameworks/SPASSmeter/tmp/
frameworks/SPASSmeter/MooBench.jar
frameworks/inspectIT/inspectit.log
frameworks/inspectIT/MooBench.jar
frameworks/opentelemetry/opentelemetry.log
frameworks/opentelemetry/tmp/
frameworks/opentelemetry/*.txt
frameworks/opentelemetry/MooBench.jar
frameworks/opentelemetry/zipkin/
frameworks/opentelemetry/lib/
frameworks/opentelemetry/jaeger-1.24.0-linux-amd64/
frameworks/opentelemetry/prometheus-2.28.1.linux-amd64/
frameworks/opentelemetry/prometheus-2.28.1.linux-amd64.tar.gz

frameworks/Kieker/scripts/kieker-1.15-SNAPSHOT.jar
frameworks/Kieker/scripts/compile-results/
/.gradle/
