
# Ignore Gradle project-specific cache directory
**/.gradle/**

**/.classpath
**/.project
**/.settings/**
**/build/**
**/bin/**
frameworks/Kieker/scripts/benchmark/
frameworks/Kieker/scripts/data/
frameworks/Kieker/scripts/kieker-*-aspectj.jar
frameworks/Kieker/scripts/receiver/
frameworks/Kieker/scripts/results-kieker/

frameworks/Kieker/scripts/kieker-1.15-SNAPSHOT.jar
frameworks/Kieker/scripts/compile-results/
