# inspectIT configurations

source ${MAIN_DIR}/config.rc

JAVA_BIN=`which java`

RSCRIPT_PATH="${BASE_DIR}/../statistics.r"

#MORE_PARAMS="--quickstart"

MORE_PARAMS="${MORE_PARAMS}"

MOOBENCH_BIN="${BASE_DIR}/../../benchmark/bin/benchmark"

