<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MooBench/src/mooBench/benchmark/Benchmark.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mooBench.benchmark.Benchmark"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-d 10 -h 1 -m 0 -t 1000000 -o tmp/test.txt -q"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MooBench"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:frameworks/Kieker/lib/kieker-1.11-SNAPSHOT_aspectj.jar&#13;&#10;-Dorg.aspectj.weaver.loadtime.configuration=META-INF/kieker.aop.xml&#13;&#10;-Dorg.aspectj.weaver.showWeaveInfo=true -Daj.weaving.verbose=true&#13;&#10;-Dkieker.monitoring.writer=kieker.monitoring.writer.tcp.TCPWriter"/>
</launchConfiguration>
